<!DOCTYPE html>
<html>
<head>
    <title>Student List</title>
</head>
<body>
    <h1>Registered Students</h1>
    <a href="/add"><button>Add New Student</button></a>
    <hr>

    <table border="1" cellpadding="10">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Course</th>
                <th>Action</th> </tr>
        </thead>
        <tbody>
            <% if(students.length > 0) { %>
                <% students.forEach(student => { %>
                    <tr>
                        <td><%= student.name %></td>
                        <td><%= student.email %></td>
                        <td><%= student.course %></td>
                        <td>
                            <a href="/delete-student/<%= student._id %>" 
                               style="color: red;"
                               onclick="return confirm('Are you sure?')">
                               Delete
                            </a>
                        </td>
                    </tr>
                <% }) %>
            <% } else { %>
                <tr>
                    <td colspan="4">No records found.</td> </tr>
            <% } %>
        </tbody>
    </table>
</body>
</html>